*/2 * * * * /home/john/tpwater-rev2/tpwater.sh   start
45   2 * * * /home/john/tpwater-rev2/tpwaterg.sh restart
28 0 * * * "/home/john/.acme.sh"/acme.sh --cron --home "/home/john/.acme.sh" > /dev/null
